.fa {#13011f
  padding: 100px;
  font-size: 100px;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  margin: 0 0;
  border-radius: 70%;
}

.fa:hover {
    opacity: 1;
}

.fa-facebook {
  background:white;
  color: #282f57;
}
.fa-google {
  background: white;
  color: #282f57;
}

.fa-linkedin {
  background: white;
  color: #282f57;
}
.fa-instagram {
  background: white;
  color: #282f57;
}
.fa-github {
  background: white;
  color: #282f57;
}